.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.container {
    display: flex;
    justify-content: center;
}

.container h1 {
    font-size: 30px;
}
