.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.container h4 {
  margin: 0;
}

.blurbBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.headerContainer {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 75px;
}

.blurbContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  font-size: 20px;
  text-align: center;
}

.blurbContainer h1 {
  padding: 0 1rem 0 1rem;
  margin: 0;
}

.underline {
  height: 10px;
  background-color: #6c91bf;
}

.blurbContainer p {
  max-width: 400px;
  font-weight: bolder;
}

.loginContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.8rem;
  border: 1px solid rgb(74, 74, 74);
  border-radius: 5px;
  max-width: 300px;
  height: 200px;
  max-height: 300px;
}

.container button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}
